@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

* {
  font-family: 'Nunito Sans';
}

.container {
  width: 95%;
}

#top-menu {
  margin-top: 30px;
}

#logo img {
  height: 39px;
  /* background-color: #C4C4C4; */
}

#main-menu a {
    font-family: 'Nunito Sans';
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #222;
}

#register-menu a {
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #222;
}

#register-menu a.is-primary {
  background-color: #10A957;
  color: #fff;
}

.hero {
  color: #222;
  height: 15em;
}

#body .card-list, .info, .donasi, footer, .galery, .trailer {
  margin-top: 200px;
}

#body .title {
  font-weight: bold;
  line-height: normal;
  letter-spacing: .03em;
  color: #000;
}

#body .title .top-border {
  padding: 5px;
  background-color: #10A957;
  width: 186px;
  border-radius: 8px;
}

#body a.is-primary {
  margin-top: 20px;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #10A957;
  color: #fff;
}

#body h1.title {
  margin-top: 20px;
  font-size: 36px;
}

#body .galery .kotak {
  /* width: 100px; */
  height: 15em;
  border-radius: 9px;
  background-color: #C4C4C4;
  margin-bottom: 2em;
}

#body .video {
  background-color: #C4C4C4;
  border-radius: 8px;
  height: 30em;
}

#body .thumb .img img {
  margin-bottom: 1em;
  border-radius: 8px;
}

#body .thumb .is-256x256 {
  width: 256px;
  height: 256px;
}

#body .buber-item {
  margin-bottom: 2.5em;
}

#body .buber-item a  .title {
  color: #10A957;
  font-size: 1.4em;
  margin-bottom: 15px;
}

#body .buber-item .subtitle {
  font-size: 1.2em;
}

#body .sect a .title {
  color: #10A957;
}

#body .sect .subtitle {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #000;
}

#body .donasi {
  background-color: #10A957;
  height: 354px;
}

#body .donasi .hero-body {
  margin-top: 50px;
}

#body .donasi {
  margin-top: 200px;
}

#body .donasi .title {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

#body .donasi .subtitle {
  margin-top: 35px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

#body .donasi .button {
  margin-top: 50px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: #FFAD33;
}

footer {
  padding-bottom: 70px;
}

footer .subtitle {
  padding-top: 40px;
}
